#rain {
    position: absolute;
}

#pauseButton {
    position: absolute;
    left: 10px;
    top: 10px;
}

html, body {
    margin: 0;
    height: 100%;
    width: 100%;
    background-color:  rgba(8, 30, 69,1);
}

.class-container {
    position: relative;
}